* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #1b1b1b;
  color:white;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #292929;
  border-radius:5px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
  border-radius:5px;
}
.abMe{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  background-color: #292929;
  border-radius:5px;
}
.abMe img{
  height:85px;
}
.popPost{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:space-between;
  background-color: #292929;
  padding:2px;
  padding-top:7px;
  padding-left:4px;
  border-radius:5px;
}
.popPost img{
  height:55px;
}

/* Fake image */
.fakeimg {
  display:flex;
  background-color: #292929;
  width: 100%;
  padding: 20px;
  color:darkgreen;
  align-items:center;
  align-content:space-between;
  border-radius:5px;
}
.fakeimg img{
height:175px;
}

/* Add a card effect for articles */
.card {
   background-color:#333;
   padding: 20px;
   margin-top: 20px;
   border-radius:5px;
}
div a{
text-decoration:none;
}
.btn1{
display:flex;
flex-direction:column;
justify-content:center;
width:175px;
height:70px;
background-color:#009900;
color:white;
font-weight:bold;
text-align:center;
border: groove 0.7em darkgreen;
border-radius: 1.5em;
}
.btn1:hover{
background-color:#fff;
color:darkgreen;
}
.btn1:active{
background-color:darkgreen;
color:white;
border: groove 0.7em #009900;
border-radius: 1.2em;
}

.btPD{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #333;
  margin-top: 20px;
  border-radius:5px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
